apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
  namespace: nextcloud
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://charts.truechartsoci.org
      chart: nextcloud
      version: 40.0.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  timeout: 20m
  values:
    global:
      stopAll: false
    credentials:
      cloudflare:
        type: s3
        url: "${CLOUDFLARE_BUCKET_URL}"
        bucket: "nextcloud"
        accessKey: "${CLOUDFLARE_BUCKET_ACCESS_KEY}"
        secretKey: "${CLOUDFLARE_BUCKET_SECRET_KEY}"
        encrKey: "${CLOUDFLARE_BUCKET_ENCR_KEY}"
    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          homepage:
            description: My own cloud
            enabled: true
            group: Cloud
            name: HoMScloud
            widget:
              enabled: false
        hosts:
          - host: cloud.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
    cnpg:
      main:
        password: ${POSTGRES_PW}
        cluster:
          singleNode: true
        mode: recovery
        backups:
          enabled: true
          credentials: cloudflare
          revision: "1"
          scheduledBackups:
            - name: daily-backup
              schedule: "0 5 0 * * *"
              backupOwnerReference: self
              immediate: true
              suspend: false
        recovery:
          revision: ""
          credentials: cloudflare
    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: cloudflare
            dest:
              enabled: false
            src:
              enabled: true
              trigger:
                schedule: 10 1 * * *
      data:
        enabled: true
        type: nfs
        path: /mnt/MAIN/Nextcloud/data
        server: ${TRUENAS_IP}
      html:
        volsync:
          - name: html
            type: restic
            credentials: cloudflare
            dest:
              enabled: false
            src:
              enabled: true
              trigger:
                schedule: 20 1 * * *
    nextcloud:
      collabora:
        enabled: true
        dictionaries:
          - de_DE
          - en_GB
          - en_US
        password: ${NEXTCLOUD_COLLABORA_ADMIN_PW}
        username: ${NEXTCLOUD_COLLABORA_ADMIN}
      credentials:
        initialAdminPassword: "${NEXTCLOUD_INITIAL_ADMIN_PW}"
        initialAdminUser: "${NEXTCLOUD_INITIAL_ADMIN}"
      general:
        accessIP: ${NGINX_EXTERNAL_IP}
        default_phone_region: DE
      previews:
        providers:
        - BMP
        - GIF
        - JPEG
        - Krita
        - MarkDown
        - MP3
        - OpenDocument
        - PNG
        - TXT
        - XBitmap
