apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kitchenowl
  namespace: kitchenowl
spec:
  interval: 5m
  chart:
    spec:
      chart: kitchenowl
      version: 12.12.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    global:
      stopAll: false
    credentials:
      cloudflare:
        type: s3
        url: "${CLOUDFLARE_BUCKET_URL}"
        bucket: "kitchenowl"
        accessKey: "${CLOUDFLARE_BUCKET_ACCESS_KEY}"
        secretKey: "${CLOUDFLARE_BUCKET_SECRET_KEY}"
        encrKey: "${CLOUDFLARE_BUCKET_ENCR_KEY}"
    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: kitchenowl.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
    persistence:
      data:
        volsync:
        - name: data
          type: restic
          credentials: cloudflare
          dest:
            enabled: true
          src:
            enabled: true
            trigger:
              schedule: 50 3 * * *
    cnpg:
      main:
        password: ${POSTGRES_PW}
        cluster:
          singleNode: true
        #mode: recovery
        backups:
          enabled: true
          credentials: cloudflare
          scheduledBackups:
            - name: daily-backup
              schedule: "50 3 * * *"
              backupOwnerReference: self
              immediate: true
              suspend: false
        #recovery:
          #method: object_store
          #credentials: cloudflare
