apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rustdesk
  namespace: rustdesk
spec:
  interval: 5m
  chart:
    spec:
      chart: rustdesk
      version: 2.13.4
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    global:
      stopAll: false
    credentials:
      cloudflare:
        type: s3
        url: "${CLOUDFLARE_BUCKET_URL}"
        bucket: "rustdesk"
        accessKey: "${CLOUDFLARE_BUCKET_ACCESS_KEY}"
        secretKey: "${CLOUDFLARE_BUCKET_SECRET_KEY}"
        encrKey: "${CLOUDFLARE_BUCKET_ENCR_KEY}"
    portal:
      open:
        enabled: false
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                RELAY: "rustdesk.${DOMAIN_0}:21117"
    persistence:
      data:
        volsync:
        - name: data
          type: restic
          credentials: cloudflare
          dest:
            enabled: false
          src:
            enabled: true
            trigger:
              schedule: 30 3 * * *
    service:
      main:
        loadBalancerIP: ${RUSTDESK_IP}
        type: LoadBalancer
        externalTrafficPolicy: Local
        integrations:
          metallb:
            enabled: true